* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b2330;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  background-image: url(images/main-bg-image.png);
  /* background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto; */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center 80%;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 73px;
  margin-bottom: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 57px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  display: none;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  border-radius: 10px;
}

.nav-links ul li {
  list-style-type: none;
}
.nav-links ul li a {
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
  color: rgb(228, 237, 246);
}

nav img {
  max-width: 100%;
  margin-left: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.hero-container {
  padding-inline: 20px;
}

.hero img {
  width: 100%;
}

.hero p {
  max-width: 530px;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Open Sans';
  margin-bottom: 35px;
}

.hero h1 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 60px;
  font-family: 'Raleway';
  margin-top: 58px;
  margin-bottom: 32px;
}
.btn-primary {
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border-radius: 40px;
  background: linear-gradient(180deg, #63e1d9 0%, #34a0cd 100%);
  color: white;
  margin-bottom: 2rem;
  border: none;
  outline: none;
}
.btn-primary:hover {
  background: #8adae3;
  cursor: pointer;
}

.services-container {
  padding-inline: 20px;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 880px;
  margin: 0 auto;
  gap: 150px;
  margin-top: 250px;
  margin-bottom: 140px;
}

.services-section .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 350px;
}

.services-section .service:nth-child(1),
.services-section .service:nth-child(2) {
  margin-bottom: 80px;
}

.services-section .service .services-img-wrapper {
  width: 100%;
}
.services-section .service h3 {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.services-section .service p {
  font-weight: 400;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding-inline: 15px;
}

.about-section-container {
  padding-inline: 20px;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  gap: 60px;
  margin-bottom: 120px;
}

.about-section .about-text h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 2rem;
  font-family: 'Raleway';
  max-width: 510px;
  padding-right: 160px;
}

.about-section .about-text p {
  max-width: 500px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Open Sans';
}
.about-section .about-text p:nth-child(3) {
  margin-bottom: 24px;
}
.about-text .link {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  color: #62e0d9;
  gap: 8px;
  border-bottom: 1px solid #62e0d9;
}
.link a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 5px;
}

.link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.link:hover img {
  filter: brightness(0) saturate(100%) invert(1);
}

.testimonial-container {
  padding-inline: 20px;
}
.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.testimonial-section .testimonial-quote {
  position: absolute;
  top: -36px;
  left: 0px;
  z-index: -1;
}

.testimonial-section .testimonial {
  background-color: #202a3c;
  padding: 40px 25px 0 25px;
  position: relative;
  max-width: 360px;
  flex: 1 1 30%;
}

.testimonial-section .testimonial p {
  margin-bottom: 24px;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 21px;
}

.testimonial-section .testimonial .testimonial-author {
  display: flex;
  gap: 1rem;
}

.testimonial-section .testimonial .testimonial-author h4 {
  margin-bottom: 10px;
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 12px;
}

.testimonial-section .testimonial .testimonial-author p {
  font-size: 7px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 10px;
}
.testimonial-author img {
  width: 25px;
  height: 25px;
}

.cta-container {
  padding-inline: 20px;
}

.cta {
  text-align: center;
  background-color: #1b2330;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  transform: translateY(40%);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.cta h5 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  font-family: 'Raleway';
  margin-bottom: 18px;
}

.cta p {
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 21px;
  padding-inline: 64px;
}

.cta .email-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 77px 0px 77px;
}

.email-box input[type='email'] {
  padding: 12px;
  width: 100%;
  padding-left: 30px;
  border: none;
  border-radius: 20px;
  flex: 7;
}

.email-box input[type='submit'] {
  width: 100%;
  padding: 0.7rem 2rem;
  flex: 3;
  border-radius: 20px;
  background: linear-gradient(180deg, #63e1d9 0%, #34a0cd 100%);
  color: white;
  border: none;
  outline: none;
}
.email-box input[type='submit']:hover {
  background: #8adae3;
  cursor: pointer;
}

footer {
  background-color: #0b1523;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
  margin-top: 5rem;
  padding-inline: 20px;
}

.footer-logo {
  grid-column: 1 / -1;
}

.footer-logo img {
  width: 110px;
}

.footer-location {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  max-width: 340px;
}

.footer-location p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

.footer-location img {
  max-width: 100%;
  margin-top: 5px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contact img {
  max-width: 100%;
}

.footer-contact p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
}

.contact-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.footer-links a:hover {
  color: rgb(203, 203, 203);
}

.footer-social {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.footer-social img {
  max-width: 100%;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.footer-social img:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(80%) saturate(500%)
    hue-rotate(160deg);
  border-color: #63e1d9;
}

.about-section .about-text h3 {
  font-size: 30px;
}

.testimonial-section .testimonial-quote {
  left: 0px;
}

@media (max-width: 1100px) {
  .about-section .about-text h3 {
    padding-right: 20px;
  }
}

@media (max-width: 920px) {
  .about-section .about-text h3 {
    max-width: 100%;
  }

  .about-image {
    max-width: 100%;
    margin: 0 auto;
    right: 0;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
  }
  nav {
    align-items: flex-start;
    gap: 1rem;
  }

  nav .logo {
    margin: 0;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    top: 0px;
    right: -100px;
    background: #1b2330;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  nav ul {
    flex-direction: column;
    gap: 30px;
  }

  .nav-links.active {
    transform: translateX(-100px);
  }

  .no-scroll {
    overflow: hidden;
  }

  .hero img {
    max-width: 720px;
  }

  .btn-primary {
    padding: 1rem 4rem;
  }
  .services-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
  }

  .services-section .service {
    max-width: 100%;
  }

  .services-section .service p {
    max-width: 70%;
  }

  .services-section .service {
    margin-bottom: 80px;
  }

  .about-section {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .about-image {
    max-width: 100%;
    margin: 0 auto;
    right: 0;
  }

  .about-section .about-text h3,
  .about-section .about-text p {
    max-width: 100%;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .about-text .link {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-bottom: 1px solid #62e0d9;
  }

  .testimonial-container {
    padding-inline: 0;
  }
  .testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  .testimonial-section .testimonial-quote {
    position: absolute;
    left: 0px;
  }
  .cta {
    max-width: 100%;
    padding: 1rem;
  }
  .cta .email-box {
    flex-direction: column;
    gap: 1rem;
    padding-inline: 20px;
  }
  .email-box input[type='email'],
  .email-box input[type='submit'] {
    max-width: 50%;
    margin: 0 auto;
  }
  .footer-container {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-location,
  .contact-item {
    justify-content: center;
  }

  .footer-location {
    align-items: flex-start;
  }

  .footer-contact {
    align-items: flex-start;
  }

  .footer-links {
    align-items: flex-start;
  }
  .footer-social {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  body {
    background-position: bottom center;
    background-size: 160vw 94%;
  }
  nav {
    margin-top: 24px;
    margin-bottom: 50px;
  }

  .logo {
    width: 100px;
  }

  .hero img {
    max-width: 304px;
  }

  .hero h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding-inline: 0px;
    margin-top: 33px;
    margin-bottom: 15px;
  }
  .hero p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-inline: 40px;
    margin-bottom: 32px;
  }

  .btn-primary {
    width: 70%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-size: 14px;
  }

  .services-section {
    max-width: 100%;
    margin-bottom: 160px;
    margin-top: 120px;
  }

  .services-section .service {
    margin-bottom: 80px;
  }
  .services-section .service:last-child {
    margin-bottom: 0;
  }

  .services-section .service h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Raleway';
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .services-section .service p {
    margin-bottom: 4rem;
    max-width: 100%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-inline: 28px;
  }

  .services-section .service:first-child p {
    padding-inline: 30px;
  }

  .services-section .service p:last-child {
    margin-bottom: 0;
  }

  .about-text {
    text-align: left;
  }

  .about-section {
    margin-bottom: 160px;
  }

  .about-section .about-text h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 48px;
    padding-inline: 10px;
    text-align: left;
  }

  .about-section .about-text p:nth-child(3) {
    margin-bottom: 16px;
  }

  .about-section .about-text p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 320px;
    padding-inline: 15px;
  }

  .about-section .about-text .link {
    margin-left: 15px;
  }

  .about-text .about-image {
    margin-right: 0rem;
    max-width: 100%;
  }

  .testimonial-section .testimonial {
    max-width: 280px;
    padding: 10px;
  }

  .services-section .service img {
    width: 80px;
    height: 80px;
  }

  .services-section .service h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  .testimonial-section {
    max-width: 100%;
  }

  .testimonial-section .testimonial > p {
    margin-bottom: 10px;
    padding-inline: 30px;
  }

  .testimonial-section .testimonial p {
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
  }

  .testimonial-section .testimonial .testimonial-author img {
    margin-left: 30px;
  }

  .testimonial-section .testimonial .testimonial-author h4 {
    margin-bottom: 4px;
  }

  .testimonial-section .testimonial-quote {
    top: -20px;
    left: 5px;
    width: 30px;
  }

  .services-section {
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .cta {
    max-width: 100%;
    box-sizing: border-box;
    padding: 28px;
  }

  .cta h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 20px;
  }

  .cta p {
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    padding-inline: 20px;
  }

  .email-box input[type='email'],
  .email-box input[type='submit'] {
    padding: 10px;
    max-width: 100%;
  }

  footer {
    max-width: 100%;
  }

  .footer-container .footer-logo img {
    max-width: 108px;
    margin-top: 85px;
    margin-bottom: 35px;
  }

  .footer-container .footer-location img {
    width: 24px;
  }

  .footer-container .footer-location p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-inline: 16px;
  }

  .footer-container .footer-contact .contact-item p:first-child {
    padding-inline: 34px;
  }

  .footer-container .footer-contact .contact-item img {
    width: 16px;
  }
  .footer-container .footer-contact .contact-item:last-child img {
    width: 24px;
  }

  .footer-container .footer-contact .contact-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-inline: 16px;
  }

  .footer-container .footer-links a {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
  }
}
